* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.bg {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    Violet,
    SlateBlue,
    CornflowerBlue,
    SkyBlue
  );
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tittle {
  font-family: 'Righteous';
  font-size: 64px;
  color: black;
  margin: 10px 20px;
}

.crystal-ball {
  position: relative;
  background-color: #d8bfd8;
  /* border: 6px solid MediumPurple; */
  padding: 40px;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: inset -22px -20px 78px -34px rgba(99, 39, 168, 1);
  -moz-box-shadow: inset -22px -20px 78px -34px rgba(99, 39, 168, 1);
  box-shadow: inset -22px -20px 78px -34px rgba(99, 39, 168, 1);
}

.img-container {
  width: 220px;
  position: absolute;
  top: 10px;
  left: -100px;
  z-index: 1;
}

img {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.input {
  padding: 10px 40px;
  height: 50px;
  width: 300px;
  margin: 10px 20px;
  border: none;
  background-color: #edd8ed;
  border-radius: 6px;
}

.input::value {
  color: white;
}

.button {
  padding: 10px 40px;
  height: 50px;
  width: 120px;
  background-color: MediumSlateBlue;
  color: white;
  border-radius: 6px;
  border: none;
  margin: 10px 20px;
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  border: 3px dashed MediumSlateBlue;

  margin-top: 16px;
  border-radius: 6px;
}

.text {
  font-family: sans-serif;
  font-size: 24px;
  color: white;
  padding: 12px;
  text-align: center;
}

.number {
  color: MediumSlateBlue;
  font-weight: bold;
}
