* {
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: SlateBlue;
}

.tittle {
  font-family: 'Righteous';
  font-size: 64px;
  color: white;
  margin: 10px 20px;
}

.crystal-ball {
  background-color: Thistle;
  /* border: 6px solid MediumPurple; */
  padding: 40px;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.input {
  padding: 10px 40px;
  height: 50px;
  width: 300px;
  margin: 10px 20px;
  border: none;
  background-color: #edd8ed;
  border-radius: 6px;
}

.input::value {
  color: white;
}

.button {
  padding: 10px 40px;
  height: 50px;
  width: 120px;
  background-color: MediumSlateBlue;
  color: white;
  border-radius: 6px;
  border: none;
  margin: 10px 20px;
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  border: 6px dashed MediumSlateBlue;
  margin-top: 16px;
  border-radius: 6px;
}

.text {
  font-family: sans-serif;
  font-size: 24px;
  color: white;
  padding: 0 12px;
  text-align: center;
}

.number {
  color: MediumSlateBlue;
  font-weight: bold;
}
